.nav{
background-color: #000000;
opacity: 0.95;
}

label{
    font-weight: 600;
    font-size: 20px;
}

::placeholder{
    font-size: 15px;
}

.feedback-bar{
    height: 30px;
    width: 127px;
    background-color: #000000;
    position: fixed;
    text-align: center;
    transform: rotate(-90deg);
    margin-left: -50px;
    margin-top: 350px;
    text-decoration: none;
}

.feedback-bar p{
font-size: 16px;
color: #FFFFFF;
padding-top: 0px;
position: relative;
margin-top: 6px;
font-weight: 500;
text-decoration: none;
}

.feedback-bar:hover{
    background-color: #1a1a1a;
}

.middle-content{
    padding-left: 140px;
    margin-bottom: 205px;
}

.form{
padding-top: 20px;
}

.main-title{
    padding-top: 152px;
    width: 1070px;
}

.main-title h1{
font-weight: bold;
font-size: 70px;
}

input, label{
    display: block;
}

input, select{
width: 950px;
height: 57px;
background: rgba(238, 238, 238, 0.5);
border: 1px solid #ACACAC;
box-sizing: border-box;
box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.25);
padding-left: 10px;
}

label{
    margin-bottom: 10px;
}

.richie-location p{
padding-left: 470px;
font-weight: bold;
padding-top: 4px;
padding-bottom: 4px;
font-size: 20px;
}

.richie-location{
    margin-bottom: 90px;
}


.name{
    display: flex;
    margin-bottom: 40px;
}

#name-2{
    width: 274px;
}

#name-3{
    width: 400px;
}

#first-name{
    margin-right: 80px;
}

.number-and-birthdate{
display: flex;
margin-bottom: 40px;
}

#phone{
margin-right: 70px;
}

#phone-number{
    width: 300px;
}

#phone input::placeholder{
    font-size: 13px;
}

.birthdate-1{
    display: flex;
}

#month select{
    width: 124px;
    margin-right: 18px;
}

#day select{
    width: 124px;
    margin-right: 22px;
}

#year select{
    width: 150px;
}

#email{
    width: 410px;
    margin-bottom: 40px;
}

.password{
    display: flex;
    margin-bottom: 140px;
}

#password{
margin-right: 80px;
}

#password-1{
    width: 310px;
}

#check{
    width: 15px;
    height: 15px;
    margin-right: 20px;
}

.checkbox-1{
    display: flex;
}

.checkbox-1 label{
width: 800px;
}

#checkbox{
    margin-bottom: 30px;
}

.checkboxes{
    margin-bottom: 60px;
}

.protection-and-submit{
    padding-left: 450px;
    width: 300px;
}

.protection-and-submit img{
margin-bottom: 35px;
}

#submit-button{
width: 250px;
margin-left: 7px;
height: 53px;
background: #000000;
color: #FFFFFF;
font-weight: 600;
font-size: 15px;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;
border: none;
cursor: pointer;
}

#submit-button:hover{
    background: #202020;
}







@media only screen and (max-width: 1200px){
    .main-title{
        width: 800px;
    }

    .main-title h1{
        font-size: 60px;
        }

        .middle-content{
            padding-left: 60px;
}
}

@media only screen and (max-width: 1100px){

    #location-search{
        width: 350px;
    }

    .richie-location select{
        width: 350px;
    }

    .richie-location p{
        padding-left: 170px;
}

.location-2 input::placeholder{
    font-size: 12px;
}

.name{
display: block;
margin-bottom: 60px;
}

#first-name{
    margin-bottom: 20px;
}

.number-and-birthdate{
    display: block;
}

#phone{
    margin-bottom: 20px;  
}

.password{
    display: block;
    margin-bottom: 100px;
}

#password{
    margin-bottom: 20px;
}

.checkbox-1 label{
    width: 260px;
    font-size: 12px;
    }

    .protection-and-submit{
        padding-left: 30px;
        width: 270px;
        margin: 0px;
    }
    
    .protection-and-submit img{
    margin-bottom: 25px;
    }
    
    #submit-button{
    width: 200px;
    margin-left: 27px;
    height: 53px;
    background: #000000;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 15px;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    cursor: pointer;
    }
    
    #submit-button:hover{
        background: #202020;
    }

    #year select{
        width: 124px;
    }

}


@media only screen and (max-width: 1000px){

    .main-title{
        width: 420px;
    }

    .main-title h1{
        font-size: 40px;
        }
}