.middle-content{
    padding-top: 170px;
    padding-left: 400px;
    display: inline-block;
}

.middle-content h1{
    font-weight: 700;
    width: 673px;
    font-size: 60px;
    padding-left: 30px;
    margin-bottom: 40px;
}

.middle-content img{
    padding-left: 195px;
    margin-bottom: 40px;
}

.middle-content h2{
    margin-bottom: 40px;
    padding-left: 50px;
    font-size: 25px;
}

.back-to-account a{
    text-decoration: none;
    color: #FFFFFF;
}

.back-to-account{
    margin-left: 210px;
    width: 233px;
    height: 51px;
    background: #001427;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;  
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color:#FFFFFF;
    text-decoration: none;
}

.back-to-account:hover{
    background-color: #0a355e;
    color:#FFFFFF;
}


@media only screen and (max-width: 1300px){
    .middle-content{
        padding-left: 20px;
}
}


@media only screen and (max-width: 700px){
    .middle-content h1{
            font-size: 45px;
            font-weight: 700;
            width: 400px;
            padding-left: 75px;
            margin-bottom: 30px;
  }

  .middle-content img{
    padding-left: 60px;
    margin-bottom: 20px;
}

.middle-content h2{
    margin-bottom: 30px;
    padding-left: 60px;
    font-size: 25px;
}

.middle-content h2{
width: 400px;
}

.back-to-account{
    margin-left: 110px;
    width: 233px;
    height: 51px;
    background: #001427;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;  
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}







